<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        #content {
            min-height: 100px;
            border: 1px solid #ccc;
            padding: 10px;
        }
        .image-wrapper {
            display: inline-block;
            position: relative;
            margin: 5px;
            width: 300px; /* 초기 크기 */
            height: auto;
            overflow: hidden;
            resize: both; /* div 사용자가 직접 조정 */
            border: 1px solid #ccc;
        }

        .image-wrapper img {
            width: 100%; /* div 크기가 변하면 내부 이미지도 그 크기에 맞춰 자동 조정 */
            height: 100%;
            object-fit: contain;
        }

    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>

        let region = "{{region}}";

        $(document).ready(function () {
            $("#postForm").on("submit", function (event) {
                event.preventDefault();
                $.addInsert();
            });
        });

        let fileArrayAdd = new Array();

        // 서버에 저장이 안된 상태에서 done만 돌리니 안나오지
        // ajax에서 보낼때 formData를 db에 저장하고 view에서는 db를 참조하니 안나오는거였다...................

        $.addInsert = function () {
            let name = $("#name").val();
            let content = $("#content").html();
            let category = $("#category").val();

            if (!confirm(name + " 추가 하시겠습니까 ?")) {
                return;
            }

            let formData = new FormData();
            for ( const file of fileArrayAdd ) {
                formData.append("files", file);
            }
            // Blob 으로 감싸는 이유
            // JSON + 바이너리(file) 데이터를 함께 전송하기 위함
            formData.append("boardDto", new Blob([JSON.stringify({
                "name": name,
                "content": content,
                "region": region,
                "category": category
            })], {type:"application/json"}));

            $.ajax({
                url: "/api/v1/board",
                type: "POST",
                datatype: "JSON",
                data: formData,
                contentType: false,
                processData: false,
            }).done(function (data, status, xhr) {
                console.log("done:data=" + data + ", status=", status, ", xhr=", xhr);
                alert("등록이 완료되었습니다.");
                setTimeout(() => {
                    location.href = document.referrer || "board_ajx_list";
                }, 100);
            }).fail(function (jqXHR, status, errorThrown) {
                console.log("done:jqXHR=" + jqXHR + ", status=", status, ", errorThrown=", errorThrown);
                let message = getErrorMessage(jqXHR.responseJSON);
                alert("추가를 실패했습니다. " + message);
            });
        }

        $.addAwsFile = function(input) {
            let formData = new FormData();

            if (input.files.length > 0) {
                for (const file of input.files) {
                    formData.append("image", file);
                }
            } else {
                console.error("❌ 파일이 선택되지 않았습니다.");
                alert("파일을 선택해주세요.");
                return;
            }

            $.ajax({
                url: "/aws/s3/upload",
                type: "POST",
                datatype: "JSON",
                data: formData,
                contentType: false,
                processData: false,
            }).done(function (data, status, xhr) {
                console.log("done:data=" + data + ", status=", status, ", xhr=", xhr);
                let imgTag = `<div class="image-wrapper">
                        <img src="${data.responseData}">
                      </div>`;
                $("#content").append(imgTag);

            }).fail(function (jqXHR, status, errorThrown) {
                console.log("done:jqXHR=" + jqXHR + ", status=", status, ", errorThrown=", errorThrown);
                let message = getErrorMessage(jqXHR.responseJSON);
                alert("추가를 실패했습니다. " + message);
            });
        }


        // function validation(obj) {
        //     if (obj.name.length > 100) {
        //         alert("파일명이 100자 이상인 파일은 제외되었습니다.");
        //         return false;
        //     } else if (obj.size > (100 * 1024 * 1024)) {
        //         alert("최대 파일 용량인 100MB를 초과한 파일은 제외되었습니다.");
        //         return false;
        //     } else if (obj.name.lastIndexOf('.') === -1) {
        //         alert("확장자가 없는 파일은 제외되었습니다.");
        //         return false;
        //     } else {
        //         return true;
        //     }
        // }
    </script>
</head>
<body>
{{>layout/headermenu}}
<main class="main">
    <div class="container">
        <form id="postForm">
            <label for="name">제목</label>
            <input type="text" id="name" name="name" required>

            <label for="content">내용</label>

            <!-- 기존 textarea 대신 div를 사용 -->
            <div id="content" name="content" contenteditable="true" required></div>

            <!-- <input type="file"> 브라우저가 파일 선택 창 띄움 -->
            <label>aws 이미지 등록</label>
            <input type="file" id="awsFile" name="file" onchange="$.addAwsFile(this);" multiple/><br>


            <label>카테고리</label>
            <select id="category" name="category" required>
                <option value="">선택하세요</option>
                <option value="food">음식</option>
                <option value="place">장소</option>
            </select>
            <button type="submit" id="addButton">등록</button>
        </form>
    </div>
</main>
</body>
</html>