<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>

        // HTML 문서 로딩이 완료된 후 자동적으로 한번 실행되는 jQuery 부분
        $(function () {
            $.viewItem(Number("{{boardDto.id}}"));
            // $(function () {
        });

        function getId() {
            const urlParams = new URLSearchParams(window.location.search);
            return urlParams.get('id');
        }

        $.showItemInfo = function (item) {
            if (item == null) {
                return;
            }
            $('#name').text(item.name);
            $('#createDt').text(item.createDt);
            $('#content').text(item.content);
            $('#writer').text(item.createName);
            $('#viewQty').text(item.viewQty);
            $("#likeQty2").text(item.likeQty);
            let count = item.deleteDt;
            if (count === "0") {
                $("#heartIcon").attr("src", "/svg/heartOff.svg");
            } else {
                $("#heartIcon").attr("src", "/svg/heartOn.svg");
            }
        }

        $.viewItem = function (id) {
            $.ajax({
                url: "/api/v1/board/" + id,
                type: "GET",
                dataType: "json",
                contentType: "application/json; charset=UTF-8",
            }).done(function (data, status, xhr) {
                if (status === "success") {
                    $.showItemInfo(data.responseData);
                    $.getBoardFiles(id);
                    $.getCommentList(id, true);
                    if (item.fileListView) {
                        $('#fileListView').html(item.fileListView.map(file => `<a href="${file.url}">${file.name}</a>`).join('<br>'));
                    } else {
                        $('#fileListView').html("첨부파일 없음");
                    }
                }
            }).fail(function (jqXHR, status, errorThrown) {
                console.error("게시글을 불러오는 데 실패했습니다.", status, errorThrown);
                alert("게시글을 불러오는 데 실패했습니다.");
            });
        }

        $.getBoardFiles = function (id) {
            if (id <= 0) {
                return;
            }
            $.ajax({
                url: "/api/v1/sbfile/findbyboardid",
                type: "POST",
                datatype: "JSON",
                data: JSON.stringify({"tbl": "{{boardTbl}}", "boardId": id}),
                contentType: "application/json; charset=UTF-8",
            }).done(function (data, status, xhr) {
                console.log("done:data=" + data + ", status=", status, ", xhr=", xhr);
                if (status === "success") {
                    $.showBoardFiles(data.responseData);
                }
            }).fail(function (jqXHR, status, errorThrown) {
                console.log("done:jqXHR=" + jqXHR + ", status=", status, ", errorThrown=", errorThrown);
                alert("첨부파일 보기 실패했습니다. " + jqXHR.responseJSON.message);
            });
        }

        let fileArrayView = new Array();
        $.showBoardFiles = function (fileList) {
            if (fileList == null) {
                return;
            }
            let html = "";
            fileArrayView = fileList;
            for (const file of fileArrayView) {
                let id = file.id;
                let tbl = file.tbl;
                let name = file.name;
                let uniqName = file.uniqName;
                let fileType = file.fileType;
                let size = file.length;
                html += "<div id='fileView_" + id + "' class='row'>";
                html += "<div class='filename col-md-6' onclick=\"$.downloadFile('" + tbl + "', '" + name + "', '" + uniqName + "', '" + fileType + "')\">" + name + "</div>";
                html += "</div>";
            }
            $("#fileListView").append(html);
        }

        $.likeItem = function () {
            let heartIcon = $("#heartIcon");
            let src = heartIcon.attr("src");
            let bOff = src.includes("Off");
            let id = getId();
            if (id <= 0) {
                return;
            }
            if (bOff) {
                $.ajax({
                    url: "/api/v1/board/like/" + id,
                    type: "GET",
                    datatype: "JSON",
                    contentType: "application/json; charset=UTF-8",
                }).done(function (data, status, xhr) {
                    console.log("done:data=" + data + ", status=", status, ", xhr=", xhr);
                    if (status === "success") {
                        $.showItemInfo(data.responseData);
                    }
                }).fail(function (jqXHR, status, errorThrown) {
                    console.log("done:jqXHR=" + jqXHR + ", status=", status, ", errorThrown=", errorThrown);
                    alert("Like 실패 했습니다. " + jqXHR.responseJSON.message);
                });
            } else {
                $.ajax({
                    url: "/api/v1/board/unlike/" + id,
                    type: "GET",
                    datatype: "JSON",
                    contentType: "application/json; charset=UTF-8",
                }).done(function (data, status, xhr) {
                    console.log("done:data=" + data + ", status=", status, ", xhr=", xhr);
                    if (status === "success") {
                        $.showItemInfo(data.responseData);
                    }
                }).fail(function (jqXHR, status, errorThrown) {
                    console.log("done:jqXHR=" + jqXHR + ", status=", status, ", errorThrown=", errorThrown);
                    alert("UnLike 실패 했습니다. " + jqXHR.responseJSON.message);
                });
            }
        }



// 댓글


        $.addComment = function () {
            let id = getId();
            let comment = $("#comment").val();
            let tbl = "board";
            if (!comment) {
                alert("댓글을 입력하세요.");
                return;
            }
            if (!confirm("댓글을 추가 하시겠습니까 ?")) {
                return;
            }
            $.ajax({
                url: "/api/v1/comment",
                type: "POST",
                datatype: "JSON",
                data: JSON.stringify({"comment": comment, "boardId": id, "tbl": tbl}),
                contentType: "application/json; charset=UTF-8",
            }).done(function (data, status, xhr) {
                $("#comment").val("");
                $.getCommentList(id, true);
                alert("댓글을 추가하였습니다.");
            }).fail(function (jqXHR, status, errorThrown) {
                let message = getErrorMessage(jqXHR.responseJSON);
                alert("댓글 추가를 실패했습니다. " + message);
            });
        }

        $.getCommentList = function (id, clear) {
            let tbl = "board";
            if (id <= 0) {
                return;
            }
            $.ajax({
                url: "/api/v1/comment/findbyboardid",
                type: "POST",
                dataType: "json",
                data: JSON.stringify({"tbl": tbl, "boardId": id}),
                contentType: "application/json; charset=UTF-8",
            }).done(function (data, status, xhr) {
                if (status === "success") {
                    $.showCommentList(clear, data.responseData);
                }
            }).fail(function (jqXHR, status, errorThrown) {
                alert("댓글 보기 실패했습니다. " + jqXHR.responseJSON.message);
            });
        }

        $.showCommentList = function (clear, commentList) {
            if (commentList == null) {
                return;
            }
            if (clear) {
                $("#commentList").children().remove();
            }
            let html = "";
            for (const commentItem of commentList) {
                let id = commentItem.id;
                let comment = commentItem.comment;
                let writer = commentItem.writer;
                let createDt = commentItem.createDt;
                html += "<div id='List_" + id + "' class='comment-item'>";
                html += "<div class='comment-content'>" + comment + "</div>";
                html += "<div class='comment-meta'>" + createDt + " | " + writer + "</div>";
                html += "<div class='comment-actions'><button onclick='$.deleteComment(" + id + ")'>X</button></div>";
                html += "</div>";
            }
            $("#commentList").append(html);
        }

        $.deleteComment = (id) => {
            if (id <= 0) {
                return;
            }
            if (!confirm("댓글을 삭제 하시겠습니까 ?")) {
                return;
            }
            $.ajax({
                url: "/api/v1/comment/deleteFlag/" + id,
                type: "DELETE",
                datatype: "JSON",
                data: JSON.stringify({"id": id, "deleteFlag": true}),
                contentType: "application/json; charset=UTF-8",
            }).done(function (data, status, xhr) {
                if (status === "success") {
                    $.deleteCommentItem(id);
                    alert("댓글이 삭제되었습니다.");
                }
            }).fail(function (jqXHR, status, errorThrown) {
                try {
                    const response = JSON.parse(jqXHR.responseText);
                    alert("댓글 삭제 실패 했습니다. " + "\n\n" + (response.message || "알 수 없는 오류"));
                } catch (e) {
                    alert("댓글 삭제 실패 했습니다. 서버 응답을 확인할 수 없습니다.");
                }
            });
        }

        $.deleteCommentItem = (id) => {
            $("#List_" + id).remove();
        }
    </script>
</head>
<body>
<main class="main">
    <div class="container">
        <div class="header">
            <h2 id="title">게시글 제목: <span id="name"></span></h2>
            <div class="meta-info">
                작성자: <span id="writer"></span> | 작성일: <span id="createDt"></span> | 조회수: <span id="viewQty"></span>
            </div>

        </div>
        <div class="content" id="content">
        </div>
        <div id="fileListView" class="attachments">
            <div class="file-title">파일</div>
        </div>
    </div>

    <div>
        <img id="heartIcon" src="/svg/heartOff.svg" width="40px" alt="Like" onclick="$.likeItem();"/>
        <span id="likeQty2"></span>
    </div>

    <div id="commentList" class="comment-list"></div>
    <div class="comment-form">
        <textarea id="comment" rows="4" style="width: 100%;" placeholder="댓글을 입력하세요"></textarea>
        <button id="addCommentButton" onclick="$.addComment()">댓글 추가</button>
    </div>

    <div class="actions">
        <button class="back-button" onclick="location.href='board_ajx_list'">목록으로</button>
        <button onclick="location.href='board_update?id=' + getId()">수정</button>
    </div>
</main>
</body>
</html>