<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.tjournal.naverAPI.IApiMybatisMapper">


<!--    useGeneratedKeys="true"와 keyProperty="id"를 통해 자동 생성되는 PK(id)를 DTO에 매핑  -->
    <insert id="insert" parameterType="MarkerDataDto" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO marker_data_tbl (
                                      lat
                                    , lng
                                    , content
                                    , boardId
        )
        VALUES (
                 #{lat}
               , #{lng}
               , #{content}
               , #{boardId}
               )
    </insert>

</mapper>
