<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.tjournal.follow.IFollowMybatisMapper">

    <insert id="follow" parameterType="FollowDto">
        INSERT INTO follower_tbl (follower_id, following_id)
        SELECT #{followerId}, #{followingId}
            WHERE NOT EXISTS (
        SELECT 1
        FROM follower_tbl
        WHERE follower_id = #{followerId}
                AND following_id = #{followingId}
                );
    </insert>

    <delete id="unFollow" parameterType="FollowDto">
        DELETE FROM follower_tbl
        WHERE following_id = #{followingId}
          AND follower_id = #{followerId}
    </delete>

<!--  특정 사용자가 팔로우한 다른 사용자 목록을 조회.  -->
    <select id="getFollowingsByUserId" parameterType="long" resultType="Integer">
        SELECT COUNT(*)
        FROM follower_tbl
        WHERE follower_id = #{id};

    </select>

<!--  특정 사용자를 팔로우한 사람들의 목록을 조회.  -->
    <select id="getFollowersByUserId" parameterType="long" resultType="Integer">
        SELECT COUNT(*)
        FROM follower_tbl
        WHERE following_id = #{id};
    </select>

    <select id="checkFollowingStatus" parameterType="long" resultType="Integer">
        SELECT COUNT(*)
        FROM follower_tbl
        WHERE following_id = #{loginUserId}
        AND follower_id = #{boardUserId};
    </select>

</mapper>
