.page {
  background-color: #8fbde8;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  background-color: white;
  width: 1440px;
  height: 1024px;
  border-radius: 40px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 16px;
  position: relative;
  display: flex;
  justify-content: center; /* 중앙 정렬 유지 */
  align-items: center;
}
