<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.tjournal.comment.ICommentMybatisMapper">

    <insert id="insert" parameterType="CommentDto" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO comment_tbl ( comment
                              , writer
                              , tbl
                              , boardId
                              , createDt
                              , createId
                              , deleteFlag)
        VALUES ( #{comment}
               , #{writer}
               , #{tbl}
               , #{boardId}
               , #{createDt}
               , #{createId}
               , false)
    </insert>

    <update id="update" parameterType="CommentDto">
        UPDATE comment_tbl
        SET comment = #{comment}
          , boardId = #{boardId}
          , updateDt = #{updateDt}
          , updateId = #{updateId}
        WHERE id = #{id}
    </update>

    <update id="updateDeleteFlag" parameterType="CommentDto">
        UPDATE comment_tbl
        SET deleteFlag = #{deleteFlag}
          , deleteDt = #{deleteDt}
          , deleteId = #{deleteId}
        WHERE id = #{id}
    </update>

    <delete id="deleteById">
        DELETE FROM comment_tbl
        WHERE id = #{id}
    </delete>

    <select id="findById" resultType="CommentDto">
        SELECT id
             , comment
             , writer
             , tbl
             , boardId
             , createDt
             , createId
             , updateDt
             , updateId
             , deleteDt
             , deleteId
             , deleteFlag
        FROM comment_tbl
        WHERE id = #{id}
          AND deleteFlag = false
    </select>

    <select id="countAllByTblBoardId" parameterType="CommentDto" resultType="int">
        SELECT count(*)
        FROM comment_tbl
        WHERE tbl = #{tbl}
          AND boardId = #{boardId}
    </select>

    <select id="findAllByTblBoardId" parameterType="SearchCommentDto" resultType="CommentDto">
        SELECT id
             , comment
             , writer
             , tbl
             , boardId
             , createDt
             , createId
             , updateDt
             , updateId
             , deleteDt
             , deleteId
             , deleteFlag
        FROM comment_tbl
        WHERE tbl = #{tbl}
          AND boardId = #{boardId}
          AND deleteFlag = false
        ORDER BY createDt
    </select>
</mapper>
