<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <link rel="stylesheet" href="/css/container.css" />
  </head>
  <body>
    <div class="page">
      <div class="container">
        {{>layout/headermenu}}
        <button onclick="location.href='/board/board_ajx_list/seoul/place'">
          서울
        </button>
        <br /><br />
        <button onclick="location.href='/board/board_ajx_list/gyeonggi/place'">
          경기
        </button>
        <br /><br />
        <button onclick="location.href='/board/board_ajx_list/gangwon/place'">
          강원
        </button>
        <br /><br />
        <button onclick="location.href='/board/board_ajx_list/chungbuk/place'">
          충북
        </button>
        <button onclick="location.href='/board/board_ajx_list/chungnam/place'">
          충남
        </button>
        <br /><br />
        <button onclick="location.href='/board/board_ajx_list/gyeongbuk/place'">
          경북
        </button>
        <button onclick="location.href='/board/board_ajx_list/gyeongnam/place'">
          경남
        </button>
        <br /><br />
        <button onclick="location.href='/board/board_ajx_list/jeonbuk/place'">
          전북
        </button>
        <button onclick="location.href='/board/board_ajx_list/jeonnam/place'">
          전남
        </button>
        <br /><br />
        <button onclick="location.href='/board/board_ajx_list/busan/place'">
          부산
        </button>
        <button onclick="location.href='/board/board_ajx_list/daegu/place'">
          대구
        </button>
        <button onclick="location.href='/board/board_ajx_list/incheon/place'">
          인천
        </button>
        <button onclick="location.href='/board/board_ajx_list/gwangju/place'">
          광주
        </button>
        <button onclick="location.href='/board/board_ajx_list/daejeon/place'">
          대전
        </button>
        <button onclick="location.href='/board/board_ajx_list/ulsan/place'">
          울산
        </button>
        <button onclick="location.href='/board/board_ajx_list/sejong/place'">
          세종
        </button>
        <br /><br />
        <button onclick="location.href='/board/board_ajx_list/jeju/place'">
          제주
        </button>
      </div>
    </div>
  </body>
</html>
