<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{{>layout/headermenu}}
<button onclick="location.href='/board/board_ajx_list/place/seoul'">서울</button>
<br><br>
<button onclick="location.href='/board/board_ajx_list/place/gyeonggi'">경기</button>
<br><br>
<button onclick="location.href='/board/board_ajx_list/place/gangwon'">강원</button>
<br><br>
<button onclick="location.href='/board/board_ajx_list/place/chungbuk'">충북</button>
<button onclick="location.href='/board/board_ajx_list/place/chungnam'">충남</button>
<br><br>
<button onclick="location.href='/board/board_ajx_list/place/gyeongbuk'">경북</button>
<button onclick="location.href='/board/board_ajx_list/place/gyeongnam'">경남</button>
<br><br>
<button onclick="location.href='/board/board_ajx_list/place/jeonbuk'">전북</button>
<button onclick="location.href='/board/board_ajx_list/place/jeonnam'">전남</button>
<br><br>
<button onclick="location.href='/board/board_ajx_list/place/busan'">부산</button>
<button onclick="location.href='/board/board_ajx_list/place/daegu'">대구</button>
<button onclick="location.href='/board/board_ajx_list/place/incheon'">인천</button>
<button onclick="location.href='/board/board_ajx_list/place/gwangju'">광주</button>
<button onclick="location.href='/board/board_ajx_list/place/daejeon'">대전</button>
<button onclick="location.href='/board/board_ajx_list/place/ulsan'">울산</button>
<button onclick="location.href='/board/board_ajx_list/place/sejong'">세종</button>

<br><br>
<button onclick="location.href='/board/board_ajx_list/place/jeju'">제주</button>



</body>
</html>