<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{{^sb3}}
<button onclick="location.href='/selogin/login'">로그인</button>
<button onclick="location.href='/selogin/signup'">회원 가입</button>
{{/sb3}}

{{#sb3}}
<button onclick="location.href='/signout'">로그아웃</button>
<button onclick="location.href='/category/page'">카테고리</button>
<br><br><br><br><br>
<button onclick="location.href='/board/board_ajx_list/place'">전체 블로그</button>
<button onclick="location.href='/member/member_list'">검색</button>
{{/sb3}}

</body>
</html>
